.zoomable-image {
    position: relative;
    overflow: hidden;
  }
  
  .zoomable-image img {
    transition: transform 0.3s ease-in-out;
  }
  
  
  .highlight-label {
    font-weight: bold;
    color: #67caf1; /* Puedes cambiar el color a tu preferencia */
  }

  .zoomable-image:hover img {
    transform: scale(1.5);
  }

  .circular-image-container {
    width: 150px; /* Tamaño deseado del contenedor circular */
    height: 150px; /* Tamaño deseado del contenedor circular */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 0 auto; /* Centra horizontalmente */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circular-image {
    width: 100%; /* La imagen debe ocupar todo el contenedor */
    height: 100%; /* La imagen debe ocupar todo el contenedor */
    object-fit: cover; /* Escala y recorta la imagen para llenar el contenedor */
    border-radius: 50%;
  }

  /* styles.css */
.pagetitle {
  font-weight: bold;
  color: #62e4dd; /* Puedes cambiar este color según tus preferencias */
  /* Agrega cualquier otra propiedad de estilo que desees */
}

.p-autocomplete-panel {
  z-index: 1000;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta según sea necesario para centrar verticalmente */
}

.custom-card {
  margin: 0 10px; /* Ajusta el margen izquierdo y derecho según tus necesidades */
  width: 250px; /* Ajusta el ancho máximo de la tarjeta según tus necesidades */
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* styles.css */
.user-info {
  margin-bottom: 8px;
}

.info-label {
  font-weight: bold;
  margin-right: 8px;
}

.user-actions {
  margin-top: 16px;
}

.delete-button,
.edit-button {
  background-color: #d9534f; /* Establece el color de fondo según tus preferencias */
  color: #fff; /* Establece el color del texto según tus preferencias */
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  background-color: #5bc0de; /* Establece el color de fondo para el botón de editar */
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre SummaryItems y BestProduct */
  padding: 20px; /* Ajusta el relleno según sea necesario */
}
.custom-card {
  height: 600px; /* Ajusta la altura según tus necesidades */
  width: 200px; /* Ajusta el ancho según tus necesidades */
}
.rounded-image {
  border-radius: 30%; /* Hace que la imagen sea redondeada */
}

/* Agrega estilos adicionales según sea necesario */
